<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css" />
    </head>
    <body>
        <div class="page-wrapper">
            <div class="banner-img"></div>
            <div class="main-wrapper">
                <div class="collapsible-menu">
                    <button type="button" class="collapsible">Menu</button>
                    <!-- <input type="checkbox" id="menu"> -->
                    <!-- <label for="menu">Menu</label> -->
                    <div class="menu-content">
                        <li><a href="#"></a>Home</li>
                        <li><a href="#"></a>Services</li>
                        <li><a href="#"></a>Projects</li>
                        <li><a href="#"></a>About</li>
                        <li><a href="#"></a>Blog</li>
                        <li><a href="#"></a>Contacts</li>
                    </div>
                    <script src="/scripts/testing.js"></script>
                    <!-- <script>
                    var coll = document.getElementsByClassName("collapsible");
                    var i;

                    for (i = 0; i < coll.length; i++) {
                    coll[i].addEventListener("click", function() {
                        this.classList.toggle("active");
                        var content = this.nextElementSibling;
                        if (content.style.display === "block") {
                        content.style.display = "none";
                        } else {
                        content.style.display = "block";
                        }
                    });
                    }
                    </script> -->
                </div>
            </div>
        </div>
    </body>
</html>