<table>
    <caption>{{ quote }}</caption>
    <tbody>
        <tr>
            <div class="side__image">
                <img src="{{ image }}" alt="{{ title }}">
            </div>
        </tr>
        <tr><th>Timeline</th><td>{{ timeline }}</td></tr>
        <tr><th>Location</th><td>{{ location }}</td></tr>
        <tr><th>Conditions</th><td>{{ conditions }}</td></tr>
        <tr><th>Involved</th><td>{{ involved }}</td></tr>
        <tr><th>Other Notes</th><td>{{ other_notes }}</td></tr>
    </tbody>
    <tfoot></tfoot>
</table>