<table>
    <caption>{{ quote }}</caption>
    <tbody>
        <tr>
            <div class="side__image">
                <img src="{{ image }}" alt="{{ title }}">
            </div>
        </tr>
        <tr><th>Title</th><td>{{ god_title }}</td></tr>
        <tr><th>Aliases</th><td>{{ god_aliases }}</td></tr>
        <tr><th>Type</th><td>{{ god_type }}</td></tr>
        <tr><th>Animals</th><td>{{ god_animals }}</td></tr>
        <tr><th>Symbol</th><td class="img-cell"><img src="{{ god_symbol }}" alt=""></td></tr>
        <tr><th>Ancestry</th><td>{{ god_ancestry }}</td></tr>
        <tr><th>Kin</th><td>{{ god_kin }}</td></tr>
        <tr><th>Siblings</th><td>{{ god_siblings }}</td></tr>
    </tbody>
    <tfoot></tfoot>
</table>