<table>
    <caption>{{ quote }}</caption>
    <tbody>
        <tr>
            <div class="side__image">
                <img src="{{ image }}" alt="{{ title }}">
            </div>
        </tr>
        <tr><th>Type</th><td>{{ type }}</td></tr>
        <tr><th>Biome</th><td>{{ biome }}</td></tr>
        <tr><th>Climate</th><td>{{ climate }}</td></tr>
        <tr><th>Size</th><td>{{ size }}</td></tr>
        <tr><th>Largest City/Township</th><td>{{ largest_city }}</td></tr>
        <tr><th>Other Notable Locations</th><td>{{ notable_locations }}</td></tr>
        <tr><th>Other Notes</th><td>{{ other_notes }}</td></tr>
    </tbody>
    <tfoot></tfoot>
</table>