<table>
    <caption>{{ quote }}</caption>
    <tbody>
        <tr>
            <div class="side__image">
                <img src="{{ image }}" alt="{{ title }}">
            </div>
        </tr>
        <tr><th>Type</th><td>{{ type }}</td></tr>
        <tr><th>Biome</th><td>{{ biome }}</td></tr>
        <tr><th>Conditions</th><td>{{ conditions }}</td></tr>
        <tr><th>Notable Locations</th><td>{{ notable_locations }}</td></tr>
        <tr><th>Other Notes</th><td>{{ other_notes }}</td></tr>
    </tbody>
    <tfoot></tfoot>
</table>