<!DOCTYPE html>
<html lang="en">
<head>
    {% include "comp/base-head.html" %}
    <link rel="stylesheet" href="/css/global.css"/>
</head>
<body>
    <!-- 
    TODO: set up banner image
    TODO: decide where and when to include the banner image 
    -->
    <!-- <div class="banner_image"><img src="{{ banner_image }}" alt=""></div> -->
    <div class="main-wrapper">
        {% include "comp/nav.html" %}
        <div class="content-wrapper">
            {{ content | safe }}
        </div>
    </div>
</body>
</html>
