<table>
    <caption>{{ quote }}</caption>
    <tbody>
        <tr>
            <div class="side__image">
                <img src="{{ image }}" alt="{{ title }}">
            </div>
        </tr>
        <tr><th>Size</th><td>{{ size }}</td></tr>
        <tr><th>Population</th><td>{{ population }}</td></tr>
        <tr><th>Government</th><td>{{ government }}</td></tr>
        <tr><th>Religion</th><td>{{ religion }}</td></tr>
        <tr><th>Notable Locations</th><td>{{ notable_locations }}</td></tr>
        <tr><th>Other Notes</th><td>{{ other_notes }}</td></tr>
    </tbody>
    <tfoot></tfoot>
</table>