<table>
    <caption>{{ quote }}</caption>
    <tbody>
        <tr>
            <div class="side__image">
                <img src="{{ image }}" alt="{{ title }}">
            </div>
        </tr>
        <tr><th>Name</th><td>{{ title }}</td></tr>
        <tr><th>Aliases</th><td>{{ aliases }}</td></tr>
        <tr><th>Location</th><td>{{ location }}</td></tr>
        <tr><th>Known Members</th><td>{{ members }}</td></tr>
        <tr><th>Type</th><td>{{ organization_type }}</td></tr>
        <tr><th>Other Notes</th><td>{{ other_notes }}</td></tr>
    </tbody>
    <tfoot></tfoot>
</table>