/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url(nav.css);

/* MAIN */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #111;
    color: #eee;
    font-family: "Grenze Gotisch", serif;
}

header {
    background-color: #194a25;
    padding: .5rem;
}

.main-wrapper {
    display: flex;
    margin: 2rem;
}

.content-wrapper {
    margin: 0 1rem;
}

a {
    text-decoration: none;
}

@media (max-width: 700px) {
    .main-wrapper {
        flex-direction: column;
        margin: 0px;
    }
}