@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

* a {
    text-decoration: none;
    color: #ff8080;
}

html {
    background-color: #000;
    color: #ddd;
}

/* MAIN STYLING */

body {
    box-sizing: border-box;
    top: 0px; left: 0px;
    width: 100%;
    font-family: "Grenze Gotisch", serif;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.banner-img {
    display: flex;
    width: 100%;
    /* background-image: linear-gradient(to top, #000000, #00000000), url("/assets/images/ethravos-map-v1.png"); */
    height: 250px;
    overflow: hidden;
    /* background-position: center; */
}

.banner-img img {
    /* max-width: 100%; */
    width: 100vw;
    object-fit: cover;
    /* background-size: cover; */
    /* vertical-align: bottom; */
    /* background-repeat: no-repeat; */
    /* position: relative; */
}

.character-img {
    display: flex;
    width: 100%;
    /* background-image: linear-gradient(to top, #000000, #00000000), url("/assets/images/ethravos-map-v1.png"); */
    height: 250px;
    overflow: hidden;
    /* background-position: center; */
}

.character-img img {
    /* max-width: 100%; */
    width: 100%;
    object-fit: cover;
    /* background-size: cover; */
    /* vertical-align: bottom; */
    /* background-repeat: no-repeat; */
    /* position: relative; */
}

.main-wrapper {
    width: 100%;
    display: flex;
}

.nav-header {
    font-size: 24px;
}

.nav-menu {
    margin: 20px;
    padding: 20px;
    width: 150px;
    display: flex;
    flex-direction: column;
    border: solid 1px #ffffff40;
    white-space: nowrap;
    gap: 4px;
}

.nav-item {
    border: solid 1px #ffffff40;
    padding: 2px 8px 2px 8px;
}

.nav-item a {
    font-size: 18px;
    color: #8080ff;
    text-decoration: none;
}

.home-button {
    display: flex;
    padding: 8px;
    justify-content: center;
    color: #fff;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 100%;
}

.main-body-text {
    flex: 1;
}

.main-body-text h1 {
    font-size: 36px;
    color: #ff6060;
}

.content-main {
    /* flex: 1; */
    font-size: 16px;
    display: flex;
    width: 100%;
}

.backlink-footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: blue;
    margin: 20px;
    padding: 20px;
    /* width: 150px; */
    min-width: 150px;
    max-width: fit-content;
    /* display: flex; */
    /* flex-direction: column; */
    border: solid 1px #ffffff40;
    white-space: nowrap;
    /* gap: 4px; */

}

.backlink-footer a {
    border: solid 1px #ffffff40;
    padding: 2px 8px 2px 8px;
    font-size: 18px;
    /* color: #8080ff; */
    text-decoration: none;
}

.page-list {
    display: flex;
    flex-direction: column;
    margin: 20px 40px;
    font-size: 20px;
    justify-content: center;
    justify-items: center;
}